DATABASE_URL=
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Desenvolvimento na rede local:
# APP_PUBLIC_URL=http://10.24.25.209:8000
#
# Producao:
# APP_PUBLIC_URL=https://inventario.jrgrupo.com.br
APP_PUBLIC_URL=http://127.0.0.1:8000
